:root {
  --dark-purple: hsl(262,83%,58%);
  --purple: hsl(262,83%,73%);
  --light-purple: hsl(253,79%,94%); 
  --blue: hsl(189,100%,35%);
  --dark-blue: hsl(206,93%,12%);
  --white: hsl(0,0%,100%);
  --red: hsl(0,100%,60%);
  --light-red: hsl(0,100%,93%);
  --grey: hsl(0, 0%, 92%);
  --dark-grey: hsl(206,15%,40%);
}