/* MOBILE FIRST */

* {
    margin: 0 ;
    padding: 0;
    color: var(--dark-blue);
}

#root {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.container-success {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.white-container-success {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: var(--white);

    h1 {
        margin-top: 10%;
        font-size: 2rem;
    }

    p {
        font-size: 1.3rem;
    }

    img {
        height: 70%;
        width: 70%;
    }

    .btn-home {
        width: 16rem;
        border-radius: 2rem;
        font-size: 1.3rem;
        color: var(--white);
        background-color: var(--blue);
        font-weight: bold;
        border: none;
    }
}

/* 768px 1024px */

@media (min-width: 768px) and (max-width: 1024px), (min-height: 768px) {
    .white-container-success {
        gap: 3rem;
    
        h1 {
            font-size: 3rem;
        }
    
        p {
            font-size: 2rem;
        }
    
        .btn-home {
            width: 21rem;
            border-radius: 3rem;
            font-size: 2rem;
        }
    }
}

/* +1024px */

@media (min-width: 1024px) or (min-height: 1024px) {
    body {
        height: 100vh; 
        width: 100vw;
        background-color: var(--dark-blue);
    }
    
    .container-success {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .white-container-success {
        height: 30rem; 
        width: 30rem;
        justify-content: center;
        gap: 2rem;
        border-radius: 3rem;

        .img-container-success {
            width: 25rem;
            display: flex;
            justify-content: left;
        }
        img {
            height: 5rem;
            width: auto;
        }

        h1 {
            margin: 0;
            font-size: 2.5rem;
        }
    
        p {
            margin-top: 0.5rem;
            font-size: 1.7rem;
        }
    
        .btn-home {
            width: 18rem;
            border-radius: 2rem;
            font-size: 1.7rem;
        }
    }
}

/* Hovers */

.btn-home:hover {
    box-shadow: 2px 6px 6px hsla(0, 0%, 0%, 0.25);
}