.container-tweet {
    background-color: var(--white);
    margin: 1rem;
    border-radius: 1.2rem;
    width: 91.5%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 

.white-container-tweet {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;

    .user {
        font-weight: bold;
    }

    .text-hashtag {
        font-style: italic;
        font-family: 'Arial Italic', 'Times New Roman Italic', sans-serif;
        color: var(--blue)
    }
}

.purple-container-tweet {
    width: 5rem;
    background-color: var(--purple);        
    border-radius: 1.2rem;

    display: flex;        
    flex-direction: column;
    justify-content: center;

    p {
        color: var(--white);
        font-size: 4rem;
    }

    .edit {
        font-size: 3.3rem;
    }
}

/* Hovers */

.container-tweet:hover {
    box-shadow: 2px 6px 6px hsla(0, 0%, 0%, 0.20);
}

.edit:hover,
.delete:hover {
    color:var(--dark-purple);
}