.footer-container {
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-blue);
    padding: 1%;

    p {
        font-size: 50%;
        color: var(--white);
        font-weight: bold;
        font-style: italic;
        font-family: 'Arial Italic', 'Times New Roman Italic', sans-serif;
    }
}