:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input {
  font-family: 'Roboto', sans-serif;
}

.btn-login,
.btn-signin,
.btn-ingresar, button {
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  padding: 0.5em 1em;
  font-size: 0.8em;
  font-weight: bold;
  cursor: pointer;
  transition: border-color 0.25s;
}

/* Error */

.error {
  border: 0.1rem solid var(--red)!important;
  background-color: var(--light-red);
}

label.label-error {
  color: var(--red);
}