:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  cursor: pointer;
  transition: border-color 0.25s;
}

/* Error */

.error {
  height: 1.5rem;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--red);
  background-color: var(--light-red);
  padding: 0.5rem;
}

.error-label {
  color: var(--red);
}